repos:
-   repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
    -   id: check-json5

-   hooks:
    -   id: check-toml
    -   id: check-yaml
    -   id: check-case-conflict
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: mixed-line-ending
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
-   hooks:
    -   id: uv-lock
    repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.4.17
-   hooks:
    -   id: absolufy-imports
    repo: https://github.com/MarcoGorelli/absolufy-imports
    rev: v0.3.1
-   hooks:
    -   args:
        -   --fix
        id: ruff
    -   id: ruff-format
    repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
-   hooks:
    -   id: pyright
    repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.382
-   hooks:
    -   id: markdownlint
    repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
