[tool.poetry]
    name = "vscode-task-runner"
    version = "0.1.5"
    description = "Task runner for VS Code tasks.json"
    license = "MIT"
    readme = "README.md"
    homepage = "https://github.com/NathanVaughn/vscode-task-runner"
    repository = "https://github.com/NathanVaughn/vscode-task-runner.git"
    authors = ["Nathan Vaughn <nvaughn51@gmail.com>"]
    classifiers = [
        "Intended Audience :: Developers",
        "Topic :: Software Development :: Libraries :: Python Modules",
        "Topic :: Software Development :: Build Tools",
    ]
    packages = [{ include = "vtr" }]

[tool.poetry.urls]
    Issues = "https://github.com/NathanVaughn/vscode-task-runner/issues"

[tool.poetry.dependencies]
    python      = ">=3.8,<4.0"
    shellingham = "^1.5.0.post1"
    pyjson5     = "^1.6.2"
    dacite      = "^1.8.1"

[tool.poetry.group.dev.dependencies]
    pre-commit  = "^3.2.0"
    pytest      = "^7.3.1"
    pytest-mock = "^3.10.0"
    pytest-cov  = "^4.1.0"

[tool.poetry.scripts]
    vtr                = "vtr.console:run"
    vscode-task-runner = "vtr.console:run"

[tool.pyright]
    typeCheckingMode = "basic"
    venvPath         = "."
    venv             = ".venv"

[tool.ruff]
    ignore = ["E501"]

[build-system]
    requires      = ["poetry-core"]
    build-backend = "poetry.core.masonry.api"
