name: Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - release

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.13", "3.12", "3.11", "3.10", "3.9"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Cache Pre-Commit
        uses: NathanVaughn/actions-pre-commit-cache@main

      # this is done, so the local version of vscode-task-runner is used,
      # not the pypi release
      # https://github.com/NathanVaughn/reusable-actions/blob/main/.github/workflows/python-test-uv.yml
      - name: Install Dependencies
        run: uv sync

      - name: Run Pre-Commit Hooks
        run: uv run vscode_task_runner pre-commit --color=always --show-diff-on-failure

      - name: Run Tests
        run: uv run vscode_task_runner tests --color=yes --junit-xml=test_report.xml

      - name: Upload Test Summary
        if: always()
        uses: test-summary/action@v2.4
        with:
          paths: test_report.xml